.map-acc {
    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    &__info {
        h5,
        .h5 {
            font-family: var(--font-family-heading);
            font-size: 16px;
            text-transform: uppercase;
            width: 100%;
            max-width: 365px;
            margin-bottom: 8px;
        }
        p {
            font-size: 14px;
            color: var(--gray-color);
            margin-bottom: 4px;
            span {
                color: var(--primary-color);
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    @media (max-width: $bp5) {
        &__content {
            grid-template-columns: 1fr;
        }
    }
}
.map {
    border-radius: 2px;
    overflow: hidden;
}
[class*="-routerRoutes-pane"] {
    opacity: 1!important
}
[class*="ground-pane"] {
    filter: grayscale(1);
}
[class*="-balloon_layout"] {
    padding: 0 !important;
    border-radius: 2px;
    border: 1px solid #f1f2f2;
    background: var(--primary-color) !important;
    box-shadow: none !important;
    animation: balloon-fadeUp 0.35s;
    @media (max-width: $bp4) {
        border: none !important;
    }
}
[class*="-balloon__layout"] {
    background: var(--primary-color) !important;
}
[class*="balloon__content"] {
    padding: 24px 0 20px 20px !important;
    font-family: var(--font-family) !important;
    background: var(--primary-color) !important;
    @media (max-width: $bp4) {
        margin-right: 0 !important;
    }
}
[class*="-balloon__tail"] {
    width: 18px !important;
    height: 28px !important;
    bottom: 54px !important;
    left: -16px !important;
    box-shadow: none !important;
    background: url(../img/svg/balloon-tail.svg) center / contain no-repeat !important;
    transform: rotate(0deg) !important;
    &:after {
        content: none !important;
    }
}
[class*="balloon__close"] {
    top: 5px;
    right: 5px;
}
[class*="balloon__close-button"] {
    opacity: 1 !important;
    filter: invert(82%) sepia(96%) saturate(5373%) hue-rotate(210deg) brightness(137%) contrast(90%);
}
[class*="__control"] {
    display: none !important;
}
@keyframes balloon-fadeUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.map-sec {
    .balloon {
        width: 253px;
        &__name {
            font-size: 16px;
            color: var(--light-gray-color);
            margin-bottom: 8px;
        }
        &__body {
            font-family: var(--font-family);
            p {
                margin-bottom: 4px;
                &:last-child {
                    margin-bottom: 0;
                }
                span:first-child {
                    color: var(--gray-color);
                }
                span:last-child {
                    color: var(--light-gray-color);
                }
            }
        }
    }
    &__lbl {
        color: var(--gray-color);
    }
    [data-block] {
        height: 0;
        display: block !important;
        visibility: hidden;
        opacity: 0;
        transition:
            visibility 0.4s linear,
            opacity 0.4s linear;
        overflow: hidden;
        &.active {
            height: auto;
            visibility: visible;
            opacity: 1;
        }
    }
    &__map {
        height: 600px;
        position: relative;
        margin-bottom: 20px;
        .map {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    @media (min-width: $bp7) and (max-width: $bp4) {
        .sec-top {
            h2,.h2 {
                font-size: 45px;
            }
        }
    }
    @media (max-width: $bp2) {
        &__map {
            height: 380px;
        }
    }
    @media (max-width: $bp3) {
        &__lbl {
            display: none;
        }
    }
    @media (max-width: $bp4) {
        .balloon {
            width: 100%;
        }
        &__map {
            height: 475px;
            margin-bottom: 16px;
        }
    }
}
